.left-filter {
  margin-bottom: 25px;

  span {
    font-size: 19px;
    margin-bottom: 10px;
    color: #6e6e6e;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;

    span {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: #6e6e6e;
    height: 100%;
    width: 100%;
    text-align: left;
  }

  .activeSearch {
    background-color: rgba(250, 187, 0, 0.11);
    padding-bottom: 5px;
    padding-top: 5px;

    a {
      color: #fabb00;

      span {
        display: block;
        font-size: 10px;
        color: #fabb00;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {

  .left-filter {
    display: none;
  }
}
