@import '../../../styles/common/index';

div.input-component {
  margin-right: 0;

  .input-wrapper {
    position: relative;
    margin-right: 0;
  }

  .star-after {
    &::after {
      content: '\6b';
      font-family: 'rhenus', sans-serif;
      font-size: 8px;
      color: $success;
      position: absolute;
      right: 12px;
      top: 13px;
    }
  }
}
