@import '../../../styles/common/index';

.top-nav {
  margin-top: 110px;
  margin-bottom: 75px;

  input {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  }

  select {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  button {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  }

  label {
    color: $white;
    font-weight: $light-font;
    font-size: 18px;
  }

  .tablet-control {
    flex: 1;

    div:first-child {
      flex: 2;
      margin-right: 10px;
    }

    div:nth-child( 2n ) {
      flex: 1;
    }
  }

  .tablet-right {
    margin-left: 10px;
    flex: 1;

    div {
      flex: 1;
      margin-right: 10px;
    }

    button {
      color: $white;
      width: 145px;
    }
  }
}

@media (max-width: 1024px) {

  .top-nav {
    flex-direction: column;
    margin: 50px 0 40px 0;

    .tablet-right {
      margin: 25px 0 0 0;

      .input-wrapper {
        margin-right: 0;
      }
    }
  }
}

// mobile
@media (max-width: 414px) {

  .top-nav {

    .tablet-control {
      flex-wrap: wrap;

      div:first-child {
        flex: 0 0 100%;
        margin-right: 0;
      }

      div:nth-child( 2n ) {
        flex: 0 0 100%;
      }
    }

    .tablet-right {
      margin-left: 0;
      flex-wrap: wrap;

      div:first-child {
        flex: 0 0 100%;
        margin-right: 0;
      }
    }
  }
}
