@import '../../../styles/common/index';

.modal-backdrop {
  z-index: 1000000;
  background-color: rgba(0, 70, 155, 0.83);
}

.modal-dialog {
  max-width: 700px;
}

.modal {
  z-index: 100000000000;
}

.modal-header {
  border: none;
}

.title-block-modal {
  color: $text-color;

  .sub-title {
    font-size: 20px;
    font-family: $font-family-other;
    font-weight: $bold-font;
  }

  h4 {
    font-weight: $bold-font;
  }

  .title-description {
    font-weight: $light-font;
    font-size: 16px;
  }

  .linkedin-block {
    font-size: 15px;
    font-weight: $bold-font;
    margin-top: 20px;

    span:first-child {
      color: $primary;
      margin-right: 5px;
      font-size: 17px;
    }

    a {
      margin-right: 5px;
    }
  }

  .upload-section {
    margin-top: 30px;

    .drop_zone {
      flex: 1;
      margin-top: 0;
    }
  }

  .ricon-input-required {
    font-size: 11px;
    color: $success;
    padding: 20px 15px;
  }

  .description-upload {
    flex: 1;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 15px;
  }
}

.name-block {

  label {
    font-size: 16px;
  }

  div {
    flex: 1;
    margin-right: 5px;
  }
}

.contact-block {
  margin-top: 20px;

  div {
    flex: 1;
    margin-right: 5px;
  }
}

.modal-body {

  .required-validate {
    color: $required-color;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;

    span {
      font-size: 8px;
      margin-right: 5px;
      position: relative;
      bottom: 3px;
    }
  }

  .text-area {
    margin-top: 20px;

    textarea {
      height: 119px;
    }

    .privacy-zone {
      margin-top: 30px;

      input {
        position: relative;
        top: 15px;
        margin-right: 15px;
      }
    }
  }
}

.modal-footer {
  justify-content: space-between;
  border-top: none;

  .btn {
    padding: 13px 48px;
    font-size: 20px;
    line-height: 20px;
  }

  .btn-cancel {
    background-color: $white;
    border: 1px solid #dddddd;
    color: #373a3c;
    margin: 0;
  }

  .btn-submit {
    background-color: $success;
    border: none;
    color: $white;
  }
}
