@import '../../../styles/common/index';

.modal-backdrop {
  z-index: 1000000;
  background-color: rgba(0, 70, 155, 0.83);
}

.modal-dialog {
  max-width: 700px;
}

.modal {
  z-index: 100000000000;
}

.modal-header {
  border: none;
}

.title-block-modal {
  color: $text-color;

  .sub-title {
    font-size: 20px;
    font-family: $font-family-other;
    font-weight: $bold-font;
  }

  h4 {
    font-weight: $bold-font;
  }

  .title-description {
    font-weight: $light-font;
    font-size: 16px;
  }

  .linkedin-block {
    font-size: 15px;
    font-weight: $bold-font;
    margin-top: 20px;

    span:first-child {
      color: $primary;
      margin-right: 5px;
      font-size: 17px;
    }

    a {
      margin-right: 5px;
    }
  }

  .upload-section {
    margin-top: 30px;

    .drop_zone {
      flex: 1;
      margin-top: 0;

      .file-name {
        max-width: 60%;
      }

      .file-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .ricon-input-required {
    font-size: 11px;
    color: $success;
    padding: 20px 15px;
  }

  .description-upload {
    flex: 1;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 15px;
  }
}

.name-block {

  label {
    font-size: 16px;
  }

  div {
    flex: 1;
    margin-right: 5px;
  }
}

.contact-block {
  margin-top: 20px;

  div {
    flex: 1;
    margin-right: 5px;
  }
}

.modal-body {

  .required-validate {
    color: $required-color;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;

    span {
      font-size: 8px;
      margin-right: 5px;
      position: relative;
      bottom: 3px;
    }
  }

  .star-icon {

    &::after {
      content: '\6b';
      font-family: 'rhenus', sans-serif;
      font-size: 8px;
      color: $success;
    }
  }

  .text-area {
    margin-top: 20px;

    textarea {
      height: 119px;
    }

    .privacy-zone {
      margin-top: 30px;

      input {
        position: relative;
        top: 15px;
        margin-right: 15px;
      }
    }
  }
}

.modal-footer {
  justify-content: space-between;
  border-top: none;

  .btn {
    padding: 13px 48px;
    font-size: 20px;
    line-height: 20px;
  }

  .btn-cancel {
    background-color: $white;
    border: 1px solid #dddddd;
    color: #373a3c;
    margin: 0;
  }

  .btn-submit {
    background-color: $success;
    border: none;
    color: $white;
  }
}

@media (max-width: 414px) {

  .modal-dialog {
    margin: 0;
    min-height: 100%;
  }

  .mobile-modal-window-input {

    .modal-content {
      height: 100%;
      border: none;
      border-radius: inherit;

      .modal-footer {

        .btn {
          width: 100%;
          border-radius: 37px;
          height: 65px;
          font-size: 25px;
          font-weight: $bold-font;
        }
      }

      .modal-body {
        padding: 15px 36px;

        .text-area {
          margin-top: 10px;

          .privacy-zone {
            background-color: $input-background-color;

            .mobile-style-checked-zone {
              border-radius: 5px;
              border: solid 1px $modal-window-color;

              input {
                width: 26px;
                height: 26px;
              }
            }
          }
        }

        input {
          background-color: $input-background-color;
        }

        textarea {
          background-color: $input-background-color;
        }
      }

      .contact-block {
        margin-top: 10px;
        flex-direction: column;

        div {
          margin-right: 0;
        }
      }

      .name-block {
        flex-direction: column;

        div {
          margin-right: 0;
        }
      }

      .modal-header {
        padding: 17px 20px 0 20px;

        .title-block-modal {
          padding: 30px 16px 0 16px;

          .sub-title {
            font-size: 24px;
            font-family: $font-family-other;
            font-weight: $bold-font;
          }

          .upload-section {
            flex-direction: column;

            .drop_zone {
              margin-bottom: 25px;
            }

            .description-upload {
              display: none;
            }

            .switcher-zone {

              span {
                font-size: 12px;
                font-weight: $light-font;
              }

              .custom-switch {
                font-size: 16px;
                font-weight: $light-font;
                margin-top: 12px;
                padding-left: 70px;

                .custom-control-label {

                  &.left-switch::after {
                    left: -51px;
                  }

                  &::after {
                    width: 21px;
                    height: 21px;
                    border-radius: 16px;
                    top: 5px;
                    left: -69px;
                  }

                  &::before {
                    height: 23px;
                    border-radius: 1rem;
                    width: 53px;
                    left: -70px;
                  }
                }
              }

              .custom-control-input:checked ~ .custom-control-label::before {
                background-color: $success;
              }
            }
          }

          h4 {
            font-size: 31px;
            margin-bottom: 0;
          }

          .title-description {
            display: none;
          }
        }
      }

      .back-to-job-mobile-button {
        background-color: $success;
        border-radius: 30px;
        max-width: 53px;
        cursor: pointer;

        span {
          color: $white;
          font-size: 14px;
          padding: 5px 20px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
