@import '../../../styles/common/index';

.page-header {

  .job-counter {

    button {
      cursor: pointer;
    }

    .dropdown {
      display: block;

      .dropdown-menu {
        padding-bottom: 0;
        left: -115px;

        .special-for-scroll {
          overflow-y: scroll;
          max-height: 180px;

          a {
            color: $text-color;
            padding: 0 25px 10px 15px;
            font-size: 14px;
            font-family: $font-family-base;
            font-weight: $bold-font;
          }
        }

        .job-list-footer {
          color: $primary;
          background-color: #cce0ee;
          padding: 15px;

          span {
            font-size: 16px;
            padding-left: 0;
            cursor: pointer;
          }
        }
      }

      .dropdown-toggle::after {
        display: none;
      }

      .btn-success:focus {
        box-shadow: none;
        outline: none;

        &:active {
          background-color: inherit;
          border-color: inherit;
        }
      }

      .dropdown-item {

        span {
          font-size: 19px;
          margin-right: 10px;
          position: relative;
          top: 2px;
        }
      }

      button {
        font-size: 16px;
        font-weight: $bold-font;
        background-color: inherit;
        border: none;
        color: $white;
        font-family: $font-family-base;

        .ricon-save {
          font-size: 19px;
          margin-left: 13px;
          margin-right: 3px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
