@import '../../../styles/common/index';

.job-counter {
  font-size: 16px;
  font-weight: $bold-font;

  span:first-child {
    padding-right: 13px;
  }

  span:nth-child( 2 ) {
    font-size: 19px;
  }
}

@media (max-width: 4144px) {

  .job-counter {
    display: none;
  }
}
