.page-content {

  .job-page-card {
    flex: 1;
    margin-left: 25px;

    .pagination-block {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 1024px) {

  .page-content {

    .job-page-card {
      margin-left: 0;
    }
  }
}

@media (max-width: 414px) {

  .page-content {

    .job-page-card {

      .pagination-block {
        flex-direction: column-reverse;
      }
    }
  }
}
