@import '../../../styles/common/index';

.bottom-line-bg {
  background-color: $button-line-section-bg;

  .button-item-line {
    margin: 65px 0;
    cursor: pointer;
    font-family: $font-family-other;
    font-size: 21px;
    font-weight: $bold-font;
    color: $color-button-line;

    .ricon-save {
      margin-right: 10px;
      position: relative;
      top: 2px;
    }

    .ricon-save-active {
      &::before {
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
    }

    a {
      color: $color-button-line;
      padding: 65px 0;
      text-decoration: none;

      span {
        margin-right: 10px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 414px) {
  .bottom-line-bg {
    display: none;
  }
  .button-line {
    .animated {
      margin-left: -20px;
    }
  }
}
