@import '../../../styles/common/index';

.bg-header-job {
  background-repeat: no-repeat;
  background-size: cover;

  .bg-opacity {
    background-color: rgba(0%, 27%, 61%, 0.4);
  }

  .top-content-job {
    padding-top: 72px;
    opacity: 1;

    .job-left-content {
      color: $white;

      a {
        color: rgba(255, 255, 255, 0.5);
        line-height: 2.05;
        font-size: 21px;
        text-decoration: none;
        font-weight: $bold-font;

        span {
          font-size: 16px;
          margin-right: 11px;
        }

        span:nth-child( 2 ) {
          font-size: 21px;
        }
      }

      h3 {
        font-size: 41px;
        padding-top: 37px;
        font-weight: $havy-font;
      }

      h4 {
        font-size: 25px;
        font-weight: $bold-font;
        font-family: $font-family-other;
      }
    }

    .job-right-content {

      ul {
        color: rgba(255, 255, 255, 0.5);
        text-align: right;
        font-size: 20px;
        list-style: none;
        font-weight: $bold-font;

        .first-item-job-list {
          color: $white;

          span {
            color: $white;
            position: relative;
            top: 3px;
          }
        }

        span {
          color: $success;
          margin-right: 5px;
          padding-top: 3px;
          position: relative;
          top: 3px;
        }
      }
    }
  }

  .header-text-bottom {
    margin-top: 30px;
    margin-bottom: 80px;

    .introduction-text {
      max-width: 80%;
      color: $white;
      font-size: 25px;
      line-height: 1.4;
      font-weight: $light-font;

      b {
        font-weight: $bold-font;
      }
    }
  }

  .button-apply {
    background-color: $success;
    color: $white;
    position: relative;
    margin-left: 70px;
    margin-bottom: -25px;
    font-weight: $bold-font;

    &::before {
      content: '';
      right: 100%;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 54px 60px;
      border-color: transparent transparent $success transparent;
      pointer-events: none;
    }

    &::after {
      content: '';
      left: 100%;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 54px 60px 0 0;
      border-color: $success transparent transparent transparent;
      pointer-events: none;
    }

    a {
      font-size: 28px;
      color: $white;
      text-decoration: none;
      line-height: 54px;
      padding: 0 65px;
    }
  }
}

@media (max-width: 1024px) {

  .bg-header-job {

    .header-text-bottom {

      .introduction-text {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 415px) {

  .bg-header-job {

    .header-text-bottom {
      margin-top: 15px;
      margin-bottom: 30px;

      .introduction-text {
        max-width: 100%;
        font-size: 16px;
      }
    }

    .mobile-button-header {

      .button-line {
        margin-bottom: 30px;
      }
    }

    .button-apply {
      width: 100%;
      margin-left: 0;
      border-radius: 36px;
      text-align: center;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .top-content-job {
      padding-top: 10px;

      .job-left-content {

        h3 {
          font-size: 34px;
          padding-top: 20px;
        }

        h4 {
          font-size: 19px;
        }

        .mobile-back-button {
          margin-top: 60px;
        }

        a {
          background-color: $success;
          border-radius: 14px;
          font-size: 14px;
          padding: 4px 13px;

          span:first-child {
            position: relative;
            left: 5px;
            top: 2px;
            font-size: 14px;
            color: $white;
          }

          span:nth-child( 2 ) {
            display: none;
          }
        }
      }

      .button-line {
        display: none;
      }

      .job-right-content {
        display: none;
      }
    }
  }
}
