/* todo make SCSS */
@import '../../../styles/common/index';

.page-footer {
  overflow: hidden;
  background-color: #cce0ee;

  .container {
    height: 100%;

    .footer-content {
      height: 100%;
      color: $primary;

      .blue {
        background-color: $primary;
        position: relative;
        text-align: right;

        img {
          padding-top: 40px;
        }

        ul {
          padding-top: 38px;

          a {
            color: #ffffff;
            text-decoration: none;
          }
        }

        &::after {
          content: '';
          width: 2000px;
          height: 100%;
          left: 100%;
          position: absolute;
          background-color: $primary;
          top: 0;
        }

        &::before {
          content: '';
          right: 100%;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 1000px 1000px;
          border-color: transparent transparent $primary transparent;
          pointer-events: none;
        }
      }

      .first {
        padding-top: 61px;
        padding-bottom: 47px;
        max-width: 445px;

        span {
          margin: 0;
          font-size: 21px;
          line-height: 1.19;
        }
      }

      .second {
        padding-top: 61px;
        margin-right: 100px;
        max-width: 340px;

        a {
          padding-left: 5px;
        }

        .title {
          font-size: 19px;
        }
      }
    }
  }
}
