/* todo make SCSS */
@import '../../../styles/common/index';

.page-footer {
  overflow: hidden;
  height: 150px;
  //color: $primary;
  //position: sticky;
  //top: 0;
  background-color: #cce0ee;

  .container {
    height: 100%;

    .footer-content {
      height: 100%;

      .blue {
        background-color: $primary;
        position: relative;

        &::after {
          content: '';
          width: 2000px;
          height: 100%;
          left: 100%;
          position: absolute;
          background-color: $primary;
        }

        &::before {
          content: '';
          right: 100%;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 1000px 1000px;
          border-color: transparent transparent $primary transparent;
        }
      }
    }
  }
}
