.resume-button {
  border: 1px dashed #fabb00;
  background-color: rgba(248, 187, 22, 0.04);
  border-radius: 10px;
  margin-top: 34px;

  span {
    border: none;
    color: #fabb00;

    &:first-child {
      margin: 15px 0 0 198px;
      height: 42px;

      &::before {
        font-size: 43px;
      }
    }

    &:nth-child( 2n ) {
      font-size: 22px;
      text-align: center;
      margin-top: 5px;
    }

    &:last-child {
      font-size: 15px;
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 1024px) {

  .resume-button {
    display: none;
  }
}
