@import '../../../styles/common/index';

.page-header {
  height: 54px;
  background-color: $primary;
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, 0.38);
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  .job-counter-nav {
    flex: 1;
    margin-right: 150px;
  }

  .dropdown {
    display: none;
  }

  .language-tablet {
    span {
      display: none;
    }
  }

  .page-header-inner {
    height: 100%;
  }

  .language {
    margin: 0 47px 0 50px;
    font-family: $font-family-other;
    font-weight: $bold-font;

    .globe {
      color: $success;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      margin-left: 18px;
      color: $white;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .activeLanguage {
      opacity: inherit;
    }
  }

  .nav-list-item {
    margin: 0;
    font-weight: $bold-font;

    li {
      font-size: 16px;
      margin: 0 20px;

      &.active {
        background-color: $white;
        padding: 15px 21px;

        a {
          color: $primary;
          opacity: 1;
        }
      }

      a {
        text-decoration: none;
        color: $white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.white-center {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 198px;
  line-height: 53px;
  font-weight: $bold-font;
  display: flex;

  a {
    width: 171px;
    background-color: $white;
    color: $primary;
    padding-left: 10px;

    span {
      font-size: 11px;
      color: $primary;
      background: $white;
      padding-right: 27px;
      padding-left: 11px;
    }
  }
}

.kosoy {
  margin: 0;
  width: 0;
  height: 54px;
  border: 54px solid $white;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}

@media (max-width: 1024px) {
  .page-header {
    z-index: 10000;

    .job-counter-nav {
      margin-right: 160px;
    }

    .dropdown {
      display: block;
    }

    .nav-list-item {
      display: none;
    }

    .menu-tablet {
      .dropdown {
        display: block;

        .dropdown-toggle::after {
          margin-left: 19px;
          font-family: 'rhenus', sans-serif;
          content: '\6a';
          border: none;
          position: relative;
          top: 6px;
        }

        .btn-primary.dropdown-toggle {
          background-color: $white;
          border-color: inherit;
          height: 54px;
          color: $primary;
          padding-right: 17px;
        }

        .btn {
          border: none;
          border-radius: inherit;
          padding-left: 23px;
        }

        .btn-primary.dropdown-toggle:focus {
          box-shadow: none;
        }
      }
    }

    .language {
      display: none;
    }

    .language-tablet {
      .dropdown {
        .dropdown-menu {
          min-width: 70px;
          .dropdown-item {
            color: $primary;
          }
        }

        .btn-primary.dropdown-toggle:focus {
          box-shadow: none;
        }

        button {
          border: none;

          &::after {
            margin-left: 8px;
          }
        }
      }

      .globe {
        color: $success;
        font-size: 14px;
        margin-left: 20px;
        display: block;
      }

      .btn {
        font-size: 14px;
        padding-left: 8px;
      }

      .btn-primary.dropdown-toggle {
        background-color: inherit;
        color: $white;

        &:focus {
          border: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .language-tablet {
    margin-right: 35px;
  }
}

@media (max-width: 800px) {
  .page-header {
    width: 100%;

    .job-counter-nav {
      margin-right: 0;
    }

    .page-header-inner {
      padding-right: 15px;
    }

    .white-center {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .page-header {
    .language-tablet {
      margin-right: 10px;
    }
  }
}

@media (max-width: 414px) {
  .page-header {
    .logo {
      img {
        width: 100px;
      }
    }

    .language-tablet {
      .globe {
        margin-left: 10px;
      }
    }

    .menu-tablet {
      .dropdown {
        .dropdown-toggle::after {
          margin-left: 10px;
        }

        .btn-primary.dropdown-toggle {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }

  .language-tablet {
    margin-right: 5px;
  }

  .container {
    .top-nav {
      .tablet-right {
        margin-top: 5px;
      }
    }
  }
}
