@import '../../../styles/common/index';

.page-header {
  height: 54px;
  background-color: $primary;
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, 0.38);
  color: #ffffff;
  position: sticky;
  top: 0;

  .dropdown {
    display: none;
  }

  .language-tablet {
    span {
      display: none;
    }
  }

  .page-header-inner {
    height: 100%;
    padding-right: 110px;
  }

  .language {
    margin: 0 47px 0 50px;

    .globe {
      color: $success;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      margin-left: 18px;
      color: #ffffff;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .nav-list-item {
    margin: 0;

    li {
      font-size: 16px;
      //font-weight: bold;
      margin: 0 20px;

      &.active {
        background-color: #ffffff;
        color: $primary;
      }

      a {
        text-decoration: none;
        color: #ffffff;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .job-count {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 16px;

    .star {
      margin-left: 13px;
      margin-right: 3px;
      font-size: 20px;
    }
  }
}

.white-center {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 198px;
  line-height: 53px;

  a {
    width: 171px;
    background-color: #ffffff;
    color: $primary;
    padding-left: 10px;

    span {
      font-size: 11px;
      color: $primary;
      background: #ffffff;
      padding-right: 27px;
      padding-left: 11px;
    }
  }
}

.kosoy {
  margin: 0;
  width: 0;
  height: 54px;
  border: 54px solid #ffffff;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}

@media (max-width: 1024px) {
  .page-header {
    .nav-list-item {
      display: none;
    }
    .job-count {
      padding-right: 90px;
      span {
        font-size: 16px;
      }
    }

    .dropdown {
      display: block;
    }

    .btn-primary.dropdown-toggle {
      background-color: #ffffff;
      border-color: inherit;
      height: 54px;
      color: $primary;
    }

    .btn {
      border: none;
      border-radius: inherit;
    }

    .btn-primary.dropdown-toggle:focus {
      box-shadow: none;
    }

    .language {
      display: none;
    }

    .language-tablet {
      .globe {
        color: $success;
        font-size: 14px;
        margin-left: 40px;
        display: block;
      }

      .btn {
        font-size: 14px;
        padding-left: 8px;
      }

      .btn-primary.dropdown-toggle {
        background-color: inherit;
        color: #ffffff;
      }
    }
  }
}
