@import '../../../styles/common/index';

.bg-header {
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;

  .container {
    height: 100%;
  }
}

.top-line {
  margin-top: 105px;

  .mobile-counter {
    display: none;
  }

  .find-job {
    h2 {
      font-size: 51px;
      text-align: left;
      color: $white;
      margin-bottom: 20px;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }

    span {
      opacity: 0.5;
      font-size: 30px;
      text-align: left;
      color: $white;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }
  }

  .today {
    font-family: $font-family-other;
    font-weight: $bold-font;
    text-align: left;

    h2 {
      font-size: 30px;
      text-align: left;
      color: $white;
      margin: 0;
      padding-top: 10px;
    }

    .two {
      display: block;
      padding-top: 10px;
      margin-bottom: 40px;
      font-size: 18px;
      color: $white;
    }

    span {
      font-size: 18px;
      color: $success;

      &:first-child {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .top-line {
    margin-top: 60px;

    .today {
      display: none;
    }
  }
}

@media (max-width: 414px) {
  .mobile-job-list-menu {
    padding-top: 21px;
    text-align: right;
    .btn-primary:not(:disabled):not(.disabled):active {
      background-color: $white;
      border: none;
      box-shadow: none;
      color: $primary;
    }
    .btn-primary:focus,
    .btn-primary.focus {
      box-shadow: none;
    }
    .btn-primary:hover {
      background-color: $white;
      border: none;
      color: $primary;
    }
    button {
      background-color: $white;
      color: $primary;
      border-radius: 15px;
      border: none;
      width: 48px;
      height: 28px;
      padding: 0;
      margin-right: 23px;
      .counter {
        font-size: 12px;
        padding-left: 7px;
        font-weight: $havy-font;
        position: relative;
        bottom: 2px;
      }
    }
  }

  .top-line {
    margin-top: 0;

    .find-job {
      h2 {
        font-size: 32px;
        margin-bottom: 0;
      }

      span {
        font-size: 19px;
      }
    }
  }
}
