@import '../../../styles/common/index';

.bg-header {
  background-color: #2a558a;
  margin-bottom: 50px;

  .container {
    height: 100%;
  }
}

.top-line {
  margin-top: 105px;

  .find-job {

    h2 {
      font-size: 51px;
      text-align: left;
      color: $white;
      margin-bottom: 20px;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }

    span {
      opacity: 0.5;
      font-size: 30px;
      text-align: left;
      color: $white;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }
  }

  .today {
    font-family: $font-family-other;
    font-weight: $bold-font;
    text-align: left;

    h2 {
      font-size: 30px;
      text-align: left;
      color: $white;
      margin: 0;
    }

    .two {
      display: block;
      padding-top: 10px;
      margin-bottom: 40px;
      font-size: 18px;
      color: $white;
    }

    span {
      font-size: 18px;
      color: $success;

      &:first-child {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {

  .top-line {
    margin-top: 60px;

    .today {
      display: none;
    }
  }
}
