@import '../../../styles/common/index';

.bg-header {
  background-color: #2a558a;
  margin-bottom: 50px;

  .container {
    height: 100%;
  }

  button {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 139px;
    height: 38px;
  }
}

.find-job {

  h2 {
    font-size: 51px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
  }

  span {
    opacity: 0.5;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
  }
}

.today {
  align-items: center;

  h2 {
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    margin: 0;
  }

  p {
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
  }

  span {
    font-size: 18px;
    text-align: left;
    color: #fabb00;
  }
}

@media (max-width: 1024px) {

  .today {
    display: none;
  }
}
