@import '../../../styles/common/index';

.bg-header {
  margin-bottom: 50px;
  background-position: center;
  background-size: contain;

  .container {
    height: 100%;
  }
}

.top-line {
  margin-top: 105px;

  .mobile-counter {
    display: none;
  }

  .find-job {

    h2 {
      font-size: 51px;
      text-align: left;
      color: $white;
      margin-bottom: 20px;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }

    span {
      opacity: 0.5;
      font-size: 30px;
      text-align: left;
      color: $white;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }
  }

  .today {
    font-family: $font-family-other;
    font-weight: $bold-font;
    text-align: left;

    h2 {
      font-size: 30px;
      text-align: left;
      color: $white;
      margin: 0;
    }

    .two {
      display: block;
      padding-top: 10px;
      margin-bottom: 40px;
      font-size: 18px;
      color: $white;
    }

    span {
      font-size: 18px;
      color: $success;

      &:first-child {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {

  .top-line {
    margin-top: 60px;

    .today {
      display: none;
    }
  }
}

@media (max-width: 414px) {

  .mobile-counter {
    display: block;

    .job-counter {

      span:first-child {
        display: none;
      }

      span:nth-child( 2 ) {
        color: $primary;
        font-size: 16px;
        height: 26px;
        width: 46px;
        background-color: $white;
        border-radius: 16px;
        padding-left: 7px;
        padding-top: 2px;
        margin-top: 27px;
        margin-right: 26px;
      }
    }
  }

  .top-line {
    margin-top: 0;

    .find-job {

      h2 {
        font-size: 32px;
        margin-bottom: 0;
      }

      span {
        font-size: 19px;
      }
    }
  }
}
