@import '../../../styles/common/index';

.card-item {
  overflow: hidden;
  background-color: $button-line-section-bg;
  margin-top: 20px;
  margin-bottom: 20px;

  .blue {
    position: relative;
    text-align: right;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;

    .gradient {
      background: linear-gradient(to right, $primary, rgba(0, 35, 78, 0));

      .md-card-content {
        display: none;
      }
    }

    .blue-left {
      margin-top: 48px;
      font-weight: $bold-font;
      flex: 1;

      ul {
        list-style: none;
        text-align: left;
        color: $white;
        font-size: 12px;
        padding-left: 130px;

        li:nth-child( 2 ) {
          margin-left: -20px;
          z-index: 100;
        }

        li:last-child {
          margin-left: -40px;
          z-index: 100;
        }

        span {
          font-size: 14px;
          margin-right: 6px;
          position: relative;
          top: 2px;
        }
      }
    }

    .blue-right {
      margin: 20px 15px 0 0;

      .job-save-desc {
        color: $white;
        font-size: 12px;
        cursor: pointer;

        .d-flex {
          flex-direction: row-reverse;

          .ricon-save {
            margin-left: 15px;
            position: relative;
            bottom: 5px;
            font-size: 18px;
          }

          .ricon-save-active {
            margin-left: 15px;
            position: relative;
            bottom: 5px;
            font-size: 18px;
          }
        }
      }

      .job-save {
        font-weight: $bold-font;

        span {
          color: #ffffff;
          font-size: 12px;
          margin-top: 10px;
        }

        .ricon-save {
          font-size: 20px;
          padding-left: 10px;
          padding-top: 5px;
          position: relative;
          top: 5px;
        }
      }

      .learn-more {
        background-color: $success;
        margin-top: 54px;
        margin-bottom: 13px;
        position: relative;
        font-weight: $bold-font;

        &::before {
          content: '';
          right: 100%;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 54px 55px;
          border-color: transparent transparent $success transparent;
          pointer-events: none;
        }

        a {
          text-decoration: none;
          color: $white;
          font-size: 19px;
          padding: 13px 13px 13px 0;
          position: relative;

          span {
            font-size: 16px;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .left-card-content {
    color: $primary;
    margin: 25px 0 0 25px;
    flex: 1;
    position: relative;

    &::after {
      content: '';
      right: -165px;
      top: -25px;
      position: absolute;
      width: 0;
      z-index: 700;
      height: 0;
      border-style: solid;
      border-width: 170px 165px 0 0;
      border-color: $button-line-section-bg transparent transparent transparent;
    }

    a:hover {
      color: $primary;
      text-decoration: none;
    }

    h3 {
      font-size: 27px;
      font-weight: $light-font;
    }

    h4 {
      font-size: 21px;
      margin-bottom: 25px;
      font-weight: $havy-font;
    }

    span {
      color: $text-color;

      span {
        color: $success;
        font-size: 15px;
        margin-right: 6px;
        font-weight: $bold-font;
        position: relative;
        top: 2px;
      }
    }
  }
}

@media (max-width: 1024px) {

  .card-item {

    .left-card-content {
      flex: 1;
    }
  }
}

@media (max-width: 814px) {
  /* 414 */

  .card-item {
    width: 100%;
    background-color: $primary;
    margin: 16px 0;

    .left-card-content {
      display: none;

      &::after {
        display: none;
      }

      h3 {
        font-size: 19px;
        font-weight: $havy-font;
      }

      h4 {
        font-size: 13px;
        font-weight: $bold-font;
        margin-bottom: 9px;
      }

      span {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .blue {

      .gradient {

        .md-card-content {
          text-align: left;
          margin-left: 15px;
          padding-top: 20px;
          display: block;
          color: $white;

          a {
            font-size: 19px;
            text-decoration: none;
            color: $white;
            font-weight: $havy-font;
          }

          h4 {
            font-size: 12px;
            font-weight: $bold-font;
          }

          span {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;

            .ricon-label-important {
              color: $success;
              position: relative;
              top: 2px;
              margin-right: 5px;
            }
          }
        }
      }

      &::before {
        content: none;
      }

      .blue-left {
        flex: 1;
        margin-right: 0;
        margin-top: 24px;

        .job-save-mobile {
          color: $white;
          margin-left: 15px;
          margin-top: 30px;
          margin-bottom: 15px;

          span:first-child {
            margin-right: 10px;
            font-size: 16px;
          }

          span:nth-child( 2 ) {
            font-size: 12px;
            position: relative;
            top: 2px;
          }
        }

        ul {
          margin-left: 15px;
          padding-left: 0;

          li:nth-child( 2 ) {
            margin-left: 0;
            z-index: 100;
          }

          li:last-child {
            margin-left: 0;
          }
        }
      }

      .blue-right {
        flex: 1;
        margin-right: 10px;

        .learn-more {
          margin-left: 25px;
          margin-top: 80px;

          &::before {
            border-width: 0 0 54px 60px;
          }

          a {
            padding-left: 0;

            span {
              padding-right: 0;
            }
          }
        }
      }
    }

    .card-content {
      flex-direction: column;
    }
  }
}

@media (max-width: 814px) {

  .card-item {

    .blue {

      .blue-right {

        .learn-more {

          &::before {
            border-width: 0 0 45px 45px;
          }

          a {
            font-size: 17px;
            padding: 10px 10px 10px 0;

            span {
              margin-left: 8px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
