//span {
//  color: #ffffff;
//  font-size: 18px;
//}
//
//input {
//  width: 435px;
//  height: 38px;
//  margin-top: 6px;
//  border-radius: 4px;
//  border: solid 1px #dddddd;
//  text-align: left;
//
//  &::-webkit-input-placeholder {
//    color: #777777;
//    font-size: 16px;
//  }
//}
