form{
  margin: 0;
}

label{
  color: white;
  font-size: 18px;
  margin: 0;
}

select{
  width: 260px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  margin-top: 9px;
  font-size: 16px;
  color: #373a3c;
}