@import '../../../styles/common/index';

.drop_zone {
  border: 1px dashed #fabb00;
  background-color: rgba(248, 187, 22, 0.04);
  border-radius: 10px;
  margin-top: 34px;
  text-align: center;
  cursor: pointer;

  div {

    span {
      color: $success;
      border: none;

      &.icon {
        font-size: 43px;
        padding-top: 10px;
      }

      &.center-text {
        font-size: 22px;
        font-weight: $light-font;
        margin-top: 0;
      }

      &:last-child {
        font-weight: $bold-font;
        font-size: 15px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {

  .drop_zone {
    display: none;
  }
}
