@import '../../../styles/common/index';

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 50px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  .bottom-line-filter {
    .top-page-filter {
      margin-bottom: 0;

      ul {
        margin: 15px 0;
      }
    }

    button {
      background-color: inherit;
      border: none;
      color: $success;

      span {
        margin-left: 13px;
        position: relative;
        top: 2px;
      }
    }

    .btn {
      font-size: 14px;
      font-weight: $bold-font;
      padding: 0;
      font-family: $font-family-base;
      margin: 20px 20px 20px 30px;
    }

    .btn-primary {
      &:active {
        background-color: inherit;
        border: none;
        color: $success;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
