@import '../../../styles/common/index';

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 50px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  .margin-bottom-for-mobile-filter {
    .top-page-filter {
      margin-bottom: 0;
    }
  }

  .mobile-list-save-job {
    ul {
      padding: 0;
      margin: 30px 0;

      li {
        list-style: none;
        margin-bottom: 20px;

        a {
          color: $text-color;
          text-decoration: none;
          font-size: 16px;

          span {
            margin-right: 10px;

            &::before {
              font-size: 21px;
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }
  }

  .top-nav {
    margin: 20px 0;

    label {
      color: $text-color;
    }
  }

  .bottom-line-filter {
    .closeList {
      color: $success;
      font-size: 14px;
      margin-top: 30px;
      cursor: pointer;
    }

    .button-mobile-job-filter-counter {
      color: $primary;
      border: 1px solid $primary;
      border-radius: 20px;
      margin-top: 21px;
      margin-bottom: 15px;
      cursor: pointer;

      .counter-number {
        font-size: 16px;
        margin-right: 7px;
        margin-top: 2px;
      }

      .ricon-save {
        margin: 2px 5px 2px 7px;
        font-size: 17px;

        &::before {
          font-size: 17px;
        }
      }
    }

    .top-page-filter {
      margin-bottom: 0;

      ul {
        margin: 15px 0;
      }
    }

    button {
      background-color: inherit;
      border: none;
      color: $success;

      span {
        margin-left: 13px;
        position: relative;
        top: 2px;
      }
    }

    .btn {
      font-size: 14px;
      font-weight: $bold-font;
      padding: 0;
      font-family: $font-family-base;
      margin: 20px 20px 20px 0;
    }

    .btn-primary {
      &:active {
        background-color: inherit;
        border: none;
        color: $success;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
