/*todo make SCSS*/
@import "../../styles/common/index";

.page-header {
  height: 54px;
  background-color: $primary;
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, 0.38);

  color: #fff;
  position: sticky;
  top: 0;

  .dropdown{
    display: none;
  }
  .page-header-inner {
    height: 100%;
    padding-right: 198px;
  }


  .language {
    margin: 0 47px 0 50px;
    .globe{
      color: $success;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      margin-left: 18px;
      color: white;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .nav-list-item {

    margin: 0;

    li {
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;

      &.active {
        background-color: #fff;
        color: $primary;
      }

      a {
        text-decoration: none;
        color: white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }


  .job-count {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
    .star {
      margin-left: 13px;
      margin-right: 3px;
      font-size: 20px;

    }

  }

}


.white-center {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 198px;

  a{
    width: 171px;
    background-color: #fff;
    color: $primary;
    padding-right: 11px;
  }

  span{
    font-size: 11px;
    color: $primary;
    background: white;
    padding-right: 27px;
    padding-left: 0;
  }
  //a, span {
  //  margin: 0;
  //  height: 54px;
  //  background-color: #fff;
  //  color: #00469b;
  //  padding-left: 16px;
  //}
}

.kosoy {
  margin: 0;
  width: 0;
  height: 54px;
  border: 54px solid white;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}

@media (max-width: 1024px) {
  .page-header {
    .nav-list-item {
      display: none;
    }

    .dropdown {
      display: block;
    }
  }
}