@import '../../../styles/common/index';
.apply-mobile-modal {
  .modal-footer{
    padding-bottom: 30px;
    padding-right: 40px;
  }
  .modal-content {
    font-size: 16px;
    .modal-header {
      padding-left: 36px;
      padding-top: 30px;
    }
    .modal-title .h4 {
      font-size: 25px;
      font-weight: $bold-font;
      color: $text-color;
    }
    .header-title-apply {
      font-size: 20px;
      color: $color-button-line;
      font-family: $font-family-other;
      font-weight: $bold-font;
    }
    .footer-title-apply {
      font-weight: $light-font;
      color: $text-color;
    }
    .modal-body {
      .apply-desc {
        list-style: none;
        padding-left: 20px;
        li {
          color: $text-color;
          margin-bottom: 30px;
          span {
            color: $success;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
