.page-job-content {
  margin-top: 90px;

  span {
    font-size: 24px;
    border-bottom: 2px solid #fabb00;
    line-height: 1.4;
  }

  p {
    color: #6e6e6e;
    font-size: 16px;
    margin-top: 20px;
  }

  .left-content {
    max-width: 442px;

    p {
      color: #6e6e6e;
    }
  }

  .center-content {
    max-width: 440px;
    margin-left: 38px;

    .offer {
      margin-bottom: 60px;
    }
    .linkedin-block {
      .linkedin {
        margin-top: 20px;

        a {
          margin-right: 15px;

          img {
            height: 61px;
            width: 61px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .right-content {
    max-width: 440px;
    margin-left: 38px;
  }
}
